<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="delta2.system.wsu" >

    <uses-permission android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />

    <application>
        <activity android:name=".SettingsActivity" />
    </application>

</manifest>
