<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="delta2.system.whardwareinfo" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <receiver android:name=".hardwareinfo.Hardware.BatteryLevelReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

            </intent-filter>
        </receiver>
        <receiver android:name=".hardwareinfo.Hardware.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".hardwareinfo.SettingsActivity" />
        <activity android:name=".hardwareinfo.CheckAllActivity" />
    </application>

</manifest>
