<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="delta2.system.tftp" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application>
        <activity android:name=".SettingsActivity" />
    </application>

</manifest>
